@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.clip-trapezium {
  clip-path: polygon(0 0, 95% 0, 78% 100%, 0% 100%);
}

@font-face {
  font-family: "Samarkan";
  src: url("/fonts/samarkan/samarkan.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.custom-class {
  font-family: "Samarkan";
}

* {
  transition: 200ms;
}